include CHANGELOG.md
include LICENSE
include Makefile
include README.md
exclude .gitignore
recursive-include resources *.qrc *.pro
recursive-include resources/icons *.png *.svg
recursive-include resources/locale *.ts *.qm
recursive-include resources/screenshots *.png
recursive-include resources/ui *.ui
recursive-include resources/xdg *.desktop
